.login__title-input {
  display: block;
  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  /* padding-top: 20px; */
  padding-bottom: 10px;
}

.login__title-input:first-of-type {
  padding-top: 0;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
  padding: 15px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23;
}

.login__input:focus {
  outline: 0.2px solid #fff;
}

.login__input_invalid {
  color: #ee3465;
}

.login__error-input {
  display: block;
  min-height: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #EE3465;
}

.login__error-input_active {
  padding-top: 10px;
}

.profile__label {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__label:last-of-type {
  margin-top: 16px;
  padding-bottom: 24px;
  border: none;
}

.profile__title-input {
  display: block;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.27;
  /* width: 25%; */
}

.profile__input {
  box-sizing: border-box;
  width: 75%;
  background-color: transparent;
  border: none;
  text-align: right;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
}

.profile__input:focus {
  outline: 0.2px solid #fff;
}

.profile__input_invalid {
  color: #ee3465;
}

.profile__error-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  align-self: flex-end;
  text-align: end;
  min-height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #EE3465;
  /* width: 75%; */
}

.profile__error-input_active {
  padding-top: 10px;
}
