.page__profile {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.profile {
  width: 410px;
  height: 100vh;
  padding-top: 74px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.profile__title {
  margin: 0;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  margin-bottom: 105px;
}

.profile__form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.profile__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* .profile__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__label:last-of-type {
  padding: 0;
  border: none;
}

.profile__title-input {
  display: block;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.27;
}

.profile__input {
  box-sizing: border-box;
  width: 75%;
  background-color: transparent;
  border: none;
  text-align: right;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
}

.profile__input:focus {
  outline: 0.2px solid #fff;
}

.profile__input_invalid {
  color: #ee3465;
}

.profile__error-input {
  display: block;
  align-self: flex-end;
  text-align: end;
  min-height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #EE3465;
  width: 75%;
}

.profile__error-input_active {
  padding-top: 10px;
} */

.profile__error-form {
  visibility: hidden;
  display: block;
  align-self: center;
  min-height: 14px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  color: #FF004C;
  padding-bottom: 20px;
}

.profile__error-form_active {
  visibility: visible;
}

.profile__btn{
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 16px;
  padding: 0;
  margin-top: 16px;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  transition: opacity .3s;
}

.profile__btn:hover {
  opacity: .7;
}

.profile__btn-edit {
  box-sizing: border-box;
  border: none;
  background-color: rgba(66, 133, 244, 1);
  border-radius: 3px;
  width: 100%;
  height: 45px;
  padding: 0;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.215;
  transition: background-color .3s;
}

.profile__btn-edit:hover {
  background-color: rgba(66, 133, 244, .7);
}

.profile__btn-edit:disabled {
  background-color: rgba(248, 248, 248, 1);
  color: #c2c2c2;
  pointer-events: none;
}

.profile__link {
  text-decoration: none;
  display: block;
  color: #ee3465;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23;
  transition: opacity .3s;
}

.profile__link:hover {
  opacity: .7;
}

.profile__link:focus {
  outline: 0.2px solid #ee3465;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;

  }

  .profile__title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 470px) {
  .profile {
    width: 100%;
    padding: 70px 30px 40px;
  }

  .profile__title {
    margin-bottom: 64px;
  }

  .profile__btn {
    height: 15px;
    font-size: 12px;
    line-height: 1.25;
  }

  .profile__link {
    font-size: 12px;
    line-height: 1.25;
  }
}
