.page__login {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.login {
  width: 396px;
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.login__link-home {
  margin-bottom: 40px;
}

.login__title {
  margin: 0;
  padding-bottom: 40px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
}

.login__form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.login__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}


.login__error-form {
  visibility: hidden;
  display: block;
  align-self: center;
  min-height: 14px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  color: #FF004C;
  padding-bottom: 20px;
}

.login__error-form_active {
  visibility: visible;
}

.login__btn{
  box-sizing: border-box;
  border: none;
  background-color: rgba(66, 133, 244, 1);
  border-radius: 3px;
  width: 100%;
  height: 45px;
  padding: 0;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.215;
  transition: background-color .3s;
}

.login__btn:hover {
  background-color: rgba(66, 133, 244, .7);
}

.login__btn:disabled {
  background-color: rgba(248, 248, 248, 1);
  color: #c2c2c2;
  pointer-events: none;
}

.login__text {
  margin: 0;
  align-self: center;
  color: #8B8B8B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
}

.login__link {
  text-decoration: none;
  display: inline-block;
  margin-left: 6px;
  color: #4285F4;
  transition: opacity .3s;
}

.login__link:hover {
  opacity: .7;
}

.login__link:focus {
  outline: 0.2px solid #4285F4;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 470px) {
  .login {
    width: 100%;
    padding: 56px 30px 30px;
    align-items: center;
  }

  .login__link-home {
    margin-bottom: 50px;
  }

  .login__title {
    padding-bottom: 80px;
  }

  .login__form {
    padding-bottom: 14px;
  }

  .login__btn {
    font-size: 12px;
    line-height: 1.25;
  }

  .login__text {
    font-size: 12px;
    line-height: 1.25;
  }
}
