.search-form__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: opacity .3s;
}

.search-form__checkbox {
  display: inline-block;
  width: 36px;
  height: 20px;
  visibility: hidden;
}

.search-form__label-disabled {
  pointer-events: none;
  opacity: .5;
}

.search-form__svg-check {
  position: absolute;
}

.search-form__svg-check-rect,
.search-form__svg-check-circle {
  transition: fill .3s, translate .3s;
}

.search-form__svg-check-rect_active {
  fill: #3DDC84;
}

.search-form__svg-check-circle_active {
  translate: 16px 0;
  fill: #fff;
}

.search-form__label:hover {
  opacity: .7;
}

/* .search-form__label:hover .search-form__svg-check-rect {
  fill: #3DDC84;
}

.search-form__label:hover .search-form__svg-check-circle {
  translate: 16px 0;
  fill: #fff;
} */

.search-form__label-text {
  display: inline-block;
  margin-left: 14px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}

@media screen and (max-width: 768px) {
  .search-form__label {
    flex-direction: row-reverse;
  }

  .search-form__label-text {
    margin: 0;
    margin-right: 16px;
  }
}

@media screen and (max-width: 545px) {
  .search-form__label-text {
    font-size: 11px;
    line-height: 1.63;
    margin-right: 13px;
  }
}
