.page__footer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.page__footer_saved-movies {
  margin-top: 9px;
}

.footer {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 79px 70px 20px;
}

.footer__title {
  margin: 0;
  text-align: center;
  color: #8b8b8b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
  margin-bottom: 20px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__item {
  padding-left: 20px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  transition: opacity .3s;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 354px) {
  .footer {
    padding: 79px 10px 20px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 18px;
  }

  .footer__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__copyright {
    padding-top: 28px;
    color: #8b8b8b;
    font-size: 12px;
    line-height: 1.25;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
  }

  .footer__item {
    padding: 0;
    padding-top: 10px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 1.25;
  }
}
