.about-me {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 110px 70px 95px;

}

.about-me__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-me__headline {
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 66px;
}

.about-me__title {
  margin: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  padding-bottom: 18px;
}

.about-me__subtitle {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  padding-bottom: 26px;
}

.about-me__text {
  margin: 0;
  max-width: 600px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  padding-bottom: 99px;
}

.about-me__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  transition: opacity .3s;
}

.about-me__link:hover {
  opacity: .7;
}

.about-me__image {
  display: inline-block;
  padding-left: 35px;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.6px;
    padding-bottom: 16px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 87px;
  }

  .about-me__image {
    padding-left: 25px;
  }
}

@media screen and (max-width: 544px) {
  .about-me__inner {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .about-me__image {
    padding: 0;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .about-me {
    padding: 70px 14px 68px;
  }

  .about-me__headline {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .about-me__title {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -1.2px;
    padding-bottom: 18px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 1.45;
    padding-bottom: 40px;
  }
}
